### CONFIGURATION FILE FOR LoF TOOLKIT ###
# Precede your comments with a #-sign.
#
# Set the directory variables, the order doesn't matter.
# Don't end the directory variables with '/' (forward-slash)!
#
### --- SYSTEM SETTINGS --- ###
# REQUIRED: Path_to where LoFToolKit resides on the server.
LOFTOOLKIT=/hpc/dhl_ec/aalasiri/lof/loftk_bash
#
# REQUIRED: Path_to support programs on the server.
PERL=/bin/perl
VEP=/hpc/dhl_ec/aalasiri/lof/loftk_updated/ensembl-vep/vep
#
### --- QSUB SETTINGS --- ###

#
### --- VEP and LOFTEE SETTINGS --- ###
# REQUIRED: Path_to where cache directory resides on the server.
CACHEDIR=/hpc/dhl_ec/aalasiri/lof/loftk/ensembl-vep
#
# REQUIRED: Path_to where LOFTEE resides on the server. 
LOFTEE=/hpc/dhl_ec/aalasiri/lof/loftk/loftee
#
# REQUIRED: Path_to LOFTEE supporting files.	# Two sets of these file; for GRCh37 and GRCh38
HUMAN_ANCESTOR_FA=/hpc/dhl_ec/aalasiri/lof/loftk/human_ancestor_fa/GRCh37/human_ancestor.fa.gz
#
CONSERVATION_FILE=/hpc/dhl_ec/aalasiri/lof/loftk/conservation_file/GRCh37/phylocsf_gerp.sql
#
GERP_BIGWIG=/hpc/dhl_ec/aalasiri/lof/loftk/loftee-grch38/gerp_conservation_scores.homo_sapiens.GRCh38.bw  #This is only for GRCh38
#
### --- ANALYSIS SETTINGS --- ###
# REQUIRED: Path_to a directory where the main analysis directory resides.
#ROOTDIR=/hpc/dhl_ec/aalasiri/lof/Imputation/8CTOT05/Imputation
ROOTDIR=/hpc/dhl_ec/aalasiri/lof/loftk/Lab/auto_lof_pipeline_data/vcf_data/GRCh38
#
PROJECTNAME="WES_ukb_50K"
#
# REQUIRED: Set data type and input file format:
# Set data type, choose one of these options [genotype/exome]
DATA_TYPE="exome"
#
# Set input file format, choose one of these options [IMPUTE2/VCF] # IMPUTE2 must includes required files (hap|allele_probe|info|sample)
FILE_FORMAT="VCF"
#
# If you set FILEL_FORMAT to VCF, does the data phased? [yes/no]
PHASE_STATUS="yes"
#
# REQUIRED: Select the assembly version, choose one of these options [GRCh37/GRCh38]
ASSEMBLY="GRCh38"
#
#REQUIRED: Set chromosomes range, e.g. CHROMOSOMES='$(seq 1 22)'
CHROMOSOMES="$(seq 19 21)"
