### CONFIGURATION FILE FOR LoF TOOLKIT ###
# Precede your comments with a #-sign.
#
# Set the directory variables, the order doesn't matter.
# Don't end the directory variables with '/' (forward-slash)!
#
### --- SYSTEM SETTINGS --- ###
# REQUIRED: Path_to where LoFToolKit resides on the server.
LOFTOOLKIT=/hpc/dhl_ec/aalasiri/lof/loftk_updated
#
# REQUIRED: Path_to support programs on the server.
PERL=/bin/perl
VEP=/hpc/dhl_ec/aalasiri/lof/loftk/ensembl-vep/vep
ENSEMBL=/hpc/dhl_ec/aalasiri/lof/loftk/ensembl-vep
#
### --- SLURM SETTINGS --- ###
## Convert allele probes files (IMPUTE2 output) to VCF.
QUEUE_PROB2VCF_CONFIG="01:00:00"
VMEM_PROB2VCF_CONFIG="8G"
## LoF annotation (VEP, LOFTEE).
QUEUE_ANNOTATION_CONFIG="01:30:00"
VMEM_ANNOTATION_CONFIG="12G"
## Calculation of LoF genes.
QUEUE_LOF_GENE_CONFIG="01:00:00"
VMEM_LOF_GENE_CONFIG="8G"
## Calculation of LoF variants.
QUEUE_LOF_SNP_CONFIG="01:00:00"
VMEM_LOF_SNP_CONFIG="12G"
## Statistical output
QUEUE_SUMPARSER_CONFIG="00:15:00"
VMEM_SUMPARSER_CONFIG="8G"
#
### --- VEP and LOFTEE SETTINGS --- ###
# REQUIRED: Path_to where cache directory resides on the server.
CACHEDIR=/hpc/dhl_ec/aalasiri/lof/loftk/ensembl-vep
#
# REQUIRED: Path_to where LOFTEE resides on the server. 
LOFTEE=/hpc/dhl_ec/aalasiri/lof/loftk/loftee
#
# REQUIRED: Path_to LOFTEE supporting files.	# Two sets of these file; for GRCh37 and GRCh38
HUMAN_ANCESTOR_FA=/hpc/dhl_ec/aalasiri/lof/loftk/human_ancestor_fa/GRCh37/human_ancestor.fa.gz
#
CONSERVATION_FILE=/hpc/dhl_ec/aalasiri/lof/loftk/conservation_file/GRCh37/phylocsf_gerp.sql
#CONSERVATION_FILE=/hpc/dhl_ec/aalasiri/lof/loftk/conservation_file/GRCh38/loftee.sql
#
GERP_BIGWIG=/hpc/dhl_ec/aalasiri/lof/loftk/loftee-grch38/gerp_conservation_scores.homo_sapiens.GRCh38.bw  #This is only for GRCh38
#
### --- ANALYSIS SETTINGS --- ###
# REQUIRED: mailing settings
# you're e-mail address; you'll get an email when the job has ended or when it was aborted
# 'BEGIN' Mail is sent at the beginning of the job; 
# 'END' Mail is sent at the end of the job; 
# 'FAIL' Mail is sent when the job is aborted or rescheduled.
# 'REQUEUE' Mail is sent when the job is suspended;
# 'ALL' equivalent to BEGIN, END, FAIL, REQUEUE, and STAGE_OUT;
# 'NONE' No mail is sent.
YOUREMAIL="a.i.alasiri@umcutrecht.nl" 
MAILSETTINGS="END,FAIL" 
#
# REQUIRED: Path_to a directory where the main analysis directory resides.
ROOTDIR=/hpc/dhl_ec/aalasiri/lof/loftk/Lab/auto_lof_pipeline_data/impute2_data/GRCh37
#ROOTDIR=/hpc/dhl_ec/aalasiri/ukb_200K_exomes/David_Stacy/ukb_GT_canonical_prot.ID
#ROOTDIR=/hpc/dhl_ec/aalasiri/lof/loftk/loftk_WES_ukb_50K/WES_ukb_50K/Files_for_VCF_LoF/compound_het_lof/plink_compound_het_lof/liftover_compound_het_lof/ukb_compound_het_5K
#
PROJECTNAME="8CTOT05"
#
# REQUIRED: Set data type and input file format:
# Set data type, choose one of these options [genotype/exome]
DATA_TYPE="genotype"
#
# Set input file format, choose one of these options [IMPUTE2/VCF] # IMPUTE2 must includes required files (hap|allele_probe|info|sample)
FILE_FORMAT="IMPUTE2"
#
# IF you set FILEL_FORMAT to IMPUTE2, please set the INFO score cutoff and Probability cutoff
#INFO=0.4
#PROB=0.05	# e.g. 0.05 (round 0.05 down to 0 and 0.95 up to 1) 
#
# If you set FILEL_FORMAT to VCF, does the data phased? [yes/no]
PHASE_STATUS="yes"
#
# REQUIRED: Select the assembly version, choose one of these options [GRCh37/GRCh38]
ASSEMBLY="GRCh37"
#
#REQUIRED: Set chromosomes range, e.g. CHROMOSOMES='$(seq 1 22)'
CHROMOSOMES="$(seq 20 22)"
