### CONFIGURATION FILE FOR LoF TOOLKIT ###
# Precede your comments with a #-sign.

# Set the directory variables, the order doesn't matter.
# Don't end the directory variables with '/' (forward-slash)!

### --- SYSTEM SETTINGS --- ###
# REQUIRED: Path_to where LoFToolKit resides on the server.
LOFTOOLKIT=/path/to/LOFTK

# REQUIRED: Path_to support programs on the server.
PERL=/path/to/perl
VEP=/path/to/ensembl-vep/vep
ENSEMBL=/path/to/ensembl-vep
LOFTEE=/path/to/loftee

### --- SLURM SETTINGS --- ###
## Convert allele probes files (IMPUTE2 output) to VCF.
QUEUE_PROB2VCF_CONFIG="05:00:00"
VMEM_PROB2VCF_CONFIG="40G"
## LoF annotation (VEP, LOFTEE).
QUEUE_ANNOTATION_CONFIG="10:00:00"
VMEM_ANNOTATION_CONFIG="90G"
## Calculation of LoF genes.
QUEUE_LOF_GENE_CONFIG="15:00:00"
VMEM_LOF_GENE_CONFIG="90G"
## Calculation of LoF variants.
QUEUE_LOF_SNP_CONFIG="15:00:00"
VMEM_LOF_SNP_CONFIG="90G"
## Statistical output
QUEUE_STAT_DESC_CONFIG="02:00:00"
VMEM_STAT_DESC_CONFIG="90G


# REQUIRED: mailing settings
# you're e-mail address; you'll get an email when the job has ended or when it was aborted
# 'BEGIN' Mail is sent at the beginning of the job;
# 'END' Mail is sent at the end of the job;
# 'FAIL' Mail is sent when the job is aborted or rescheduled.
# 'REQUEUE' Mail is sent when the job is suspended;
# 'ALL' equivalent to BEGIN, END, FAIL, REQUEUE, and STAGE_OUT;
# 'NONE' No mail is sent.
YOUREMAIL="your_email"
MAILSETTINGS="END,FAIL"


### --- VEP and LOFTEE SETTINGS --- ###
# REQUIRED: Path_to where cache directory resides on the server.
CACHEDIR=/path/to/CACHEDIR   # Sometime it locates on the same /path/to/ensembl-vep

# REQUIRED: Path_to LOFTEE supporting files.	# Two sets of these file; for GRCh37 and GRCh38
HUMAN_ANCESTOR_FA=/path/to/GRCh37/human_ancestor.fa.gz
#HUMAN_ANCESTOR_FA=/path/to/GRCh38/human_ancestor.fa.gz

CONSERVATION_FILE=/path/to/GRCh37/phylocsf_gerp.sql
#CONSERVATION_FILE=/path/to/GRCh38/loftee.sql

#GERP_BIGWIG=/path/to/gerp_conservation_scores.homo_sapiens.GRCh38.bw  #This is only for GRCh38


### --- ANALYSIS SETTINGS --- ###
# REQUIRED: Path_to a directory where the main analysis directory resides.
ROOTDIR=/path/to/your_input_data

PROJECTNAME="progect_name"

## Analysis specifics
# REQUIRED: Set data type and input file format:
# Set data type, choose one of these options [genotype/exome/genome]
DATA_TYPE="genotype"

# Set input file format, choose one of these options [IMPUTE2/VCF] # IMPUTE2 must includes required files (hap|allele_probe|info|sample)
FILE_FORMAT="VCF"

# IF you set FILE_FORMAT to IMPUTE2, please set the INFO score cutoff (default: 0.4) and Probability cutoff (default: 0.05)
INFO=0.8
PROB=0.05	 

# If you set FILE_FORMAT to VCF, do your input data have been phased? [yes/no]
PHASE_STATUS="yes"

# REQUIRED: Select the assembly version, choose one of these options [GRCh37/GRCh38]
ASSEMBLY="GRCh37"

#REQUIRED: Set chromosomes range, e.g. CHROMOSOMES='$(seq 1 22)'
CHROMOSOMES="$(seq 1 22)"
